[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
display_group: _multiextruder_16x4


[output_pin BEEPER_pin]
pin: EXP1_1
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.


[menu __main __octoprint]
type: disabled

[menu __main __setup __calib __delta_calib_auto]
type: disabled

[menu __main __setup __calib __delta_calib_man]
type: disabled

[menu __main __control __homez]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Z Tilt
gcode: Z_TILT_ADJUST

[menu __main __control __homexy]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Mesh Bed
gcode: BED_MESH_CALIBRATE

[menu __main __setup __tuning __hotend_pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('extruder' in printer)}
name: Tune HE0 PID
gcode: PID_CALIBRATE HEATER=extruder TARGET=200 WRITE_FILE=1

# Disable and move hotbed to fix ordering
[menu __main __setup __tuning __hotbed_pid_tuning]
type: disabled

[menu __main __setup __tuning __hotend1_pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('extruder1' in printer)}
name: Tune HE1 PID
gcode: PID_CALIBRATE HEATER=extruder1 TARGET=200 WRITE_FILE=1

[menu __main __setup __tuning __hotbed__pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('heater_bed' in printer)}
name: Tune Hotbed PID
gcode: PID_CALIBRATE HEATER=heater_bed TARGET=60 WRITE_FILE=1